# Ambiente virtual
venv/

# Variáveis de ambiente
.env

# Configurações do VS Code
.vscode/

# Cache do Python
__pycache__/
*.pyc

# Cache do Jupyter
.ipynb_checkpoints/

# Arquivos do sistema
.DS_Store
Thumbs.db

# Dados locais
data/raw/*
!data/raw/.gitkeep

data/silver/*
!data/silver/.gitkeep

data/gold/*
!data/gold/.gitkeep

# Arquivos ZIP baixados
data/*.zip